/node_modules
/public/hot
/public/storage
/public/dist
/public/build
/public/images
/bootstrap/cache
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
npm-debug.log
yarn-error.log
/.idea
/.vscode
mix-manifest.json
deploy.cmd
!.gitkeep
